<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 not found</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
    <div class="d-flex flex-column align-items-center justify-content-center vh-100" style="">
        <img src="assets/images/404.jpg" alt="" style="width: 20rem;" class="mb-5">
        <h1 class="display-1 fw-bold">404</h1>
        <h2>Opps! Page not found.</h2>
    </div>
</body>
</html>