<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tina demo</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css" />
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-5">Tina Demo</h1>
        <div class="row row-cols-4">
            <a class="link-underline-light" href="./test001" target="_blank" class="col">
                <div class="card" style="height: 100%">
                    <img src="./assets/images/test001.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">滑鼠繪圖</h5>
                        <p class="card-text">Canvas練習：滑鼠監聽、顏色參數變化</p>
                    </div>
                </div>
            </a>
            <a class="link-underline-light" href="./test002" target="_blank" class="col">
                <div class="card" style="height: 100%">
                    <img src="./assets/images/test002.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">好評洗版</h5>
                        <p class="card-text">Canvas練習：利用範圍內的亂數，隨機調整內容、顏色、位置分布</p>
                    </div>
                </div>
            </a>
            <a class="link-underline-light" href="./game" target="_blank" class="col">
                <div class="card" style="height: 100%">
                    <img src="./assets/images/game.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">趣味競賽</h5>
                        <p class="card-text">Canvas練習：小恐龍遊戲改寫</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</body>

</html>