.home {

    >* {
        z-index: 1;
    }

    &::after {
        @extend %cover;
        background: url(../images/bg/bg_home_1.webp) top center/100% no-repeat;
        z-index: 0;
        mix-blend-mode: screen;
    }
}

.home-img {
    min-height: rem(600);
    position: relative;
    margin-top: rem(30)
}

[class^="home-img-"] {
    @include absolute(0, null);
    animation: moveY 6s infinite cubic-bezier(0.4, 0, 1, 1)
}

.home-img-1 {
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: none;
}

.home-img-2 {
    width: 25%;
    left: 0;
    animation-duration: 8s;
}

.home-img-3 {
    width: 15%;
    right: 0;
}

@keyframes moveY {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(#{rem(20)});
    }

    100% {
        transform: translateY(0);
    }
}

// service
.service-block {
    @include flex($alignItem: stretch);
    gap: 7%;
    margin-top: rem(60);
}

.service-item {
    flex: 1;
    @include flex(flex-start);
    padding: rem(40) rem(30) rem(70);
    flex-direction: column;
    background: transparent linear-gradient(180deg, #BFFFE4 0%, #295DB967 100%) 0% 0% no-repeat padding-box;
    border-radius: rem(200) rem(200) rem(40) rem(40);

    .img {
        text-align: center;

        img {
            height: rem(200);
        }
    }
}

.service-title {
    @include font(24, 32, bold);
    color: #fff;
    margin-bottom: rem(20);
}

.home-arrow-bg {
    position: relative;
    z-index: 2;

    >.container {
        z-index: 2;
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        @include absolute;
        background: url(../images/bg/bg_home_2.webp) bottom/100% no-repeat;
        z-index: 1;
    }

    &+.sec {
        margin-top: -15vw;
        padding-top: 25vw;
    }
}

.analytic-block {
    @include flex($alignItem: flex-start);
    gap: 8%;
    padding: rem(200) 0 rem(150);

    .content {
        flex: 1;
    }
}

.analytic-img {
    flex: 1;
    max-width: rem(700);

    img {
        width: 100%;
    }
}

.home-arrow-border {
    aspect-ratio: 1/1;
    transform: rotate(45deg) skew(-23.5deg, -23.5deg) translate(19%, 19%);
    @include absolute(null, 0, 0);
    width: 60vw;
    margin: 0 auto;
    border-radius: rem(60);
    pointer-events: none;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);

}

.border-1 {
    border-width: 0 rem(50) rem(50) 0;
    background-color: #509edf;
    bottom: 0;
    z-index: 1;
}

.border-2 {
    border-width: 0 rem(90) rem(90) 0;
    background-color: #83b8e9;
    bottom: rem(-45);
}